@font-face {
  font-family: Bebas Neue; /* Гарнитура шрифта */
  src: url(../fonts/bebas/BebasNeueRegular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: AfishaCap; /* Гарнитура шрифта */
  src: url(../fonts/AfishaCap/afisha.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: PT Sans; /* Гарнитура шрифта */
  src: url(../fonts/PTSans/ptsans.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Arctika script; /* Гарнитура шрифта */
  src: url(../fonts/arctika-script/arctika-script.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Lobster; /* Гарнитура шрифта */
  src: url(../fonts/lobster/lobster.ttf); /* Путь к файлу со шрифтом */
}
